--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn
python-multipart
jinja2
loguru
pymupdf
langchain==0.1.16
langchain-openai==0.1.3
langchain-community==0.0.34
tiktoken
sentence-transformers
torch
numpy
pdfplumber
pdf2image
opencv-python-headless
Pillow
huggingface_hub
python-dotenv
openai
python-docx
openpyxl
python-pptx
boto3
psycopg2-binary
pgvector
langchain-postgres
gunicorn
pytesseract

